<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&w=1000&q=80);">
  <div class="heading">
    <div></div>
    <h1><i class="fas fa-ticket-alt"></i> MES LISTES <i class="fas fa-couch"></i></h1>
    <div></div>
  </div>
</div>
<div class="container">
  <% if @lists.empty? %>
    <h2>0 résultat. Essayez de créer de nouvelles listes</h2>
    <% else %>
  <div class="grid">
    <% @lists.each do |list| %>
      <div class="card">
        <%= cl_image_tag list.photo.key, crop: :fill %>
        <div class="card-title">
          <h2><%= link_to list.name, list_path(list) %></h2>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
