<div class="container">
<h1>Nouveau signet</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
<p>Sélectionner un film</p>
  <%= f.association :movie, label: false, html5: true %>
  <p>Votre commentaire</p>
  <%= f.input :comment, label: false %>
  <%= f.submit "Ajouter" %>
<% end %>
</div>
